/Demo1/nbproject/private/
/Demo1/build/
/Baitap/nbproject/private/
/Baitap/build/
/PT1/nbproject/private/
/PT1/build/
/PT1/dist/
/DemoArray/nbproject/private/
/DemoArray/build/
/DemoArray/dist/
/Caculartor/nbproject/private/
/Caculartor/build/
/JavaBrid/nbproject/private/
/EJBModule1/nbproject/private/
/EJBModule1/build/
/EJBModule1/dist/
/JavaApplication/nbproject/private/
/JavaApplication1/nbproject/private/
/EJBModule2/nbproject/private/
/projectweb/dist/